*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    
    font-family: 'Karla', sans-serif;
    background-color: #1F2937;
} 

.populated-state{
    max-width: 550px;
    padding: 20px;
    margin: auto;
    background-color: #1F2937;
}

 hr{
    width: 100%;
    border: 1px solid #2F3E53;

} 
.flex{
    display: flex;
}

.container{
    display: flex;
    flex-direction: row;
   justify-content: start;
   align-items:start;
   padding: 9px 17px 9px 15px;
   gap: 12px;
   margin-left: 0;
   padding: 30px; 
   padding-left: 0;
}





button{
    padding: 8px 16px;
    border: 1px solid #10B981;
    border-radius: 6px;
    background-color: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    color: #FFFFFF;
}



.heading{
    color: white;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 45px;
    letter-spacing:  -0.025em;
    
}

.span{
   color: #4ADF86;
}

p{
   

font-family: 'Karla', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 50px;
color: white;
}


.random-password{
    flex: 1;
    border: 1px solid #273549; ;
    border-radius: 6px;
    background-color: #273549;;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    color:  #55F991;
    text-align: center;
}

@media only screen and (max-width: 450px) {
    .populated-state{
       
        max-width: 550px;
        padding: 15px;
        margin: auto;
        background-color: #1F2937;
    }
    button{
        padding: 7px 12px;
    }
    
  }
@media only screen and (max-width: 390px) {
    .populated-state{
       
        max-width: 550px;
        padding: 10px;
        margin: auto;
        background-color: #1F2937;
    }
    button{
        padding: 7px 9px;
    }
    
  }
